@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cossette+Texte:wght@400;700&family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

#logo{
    font-family: "Caveat";
   font-optical-sizing: auto;
   font-weight: 1900;
   font-style: normal;
   font-size: 48px;
}

#signlogo{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight:bolder;
    font-Size:38px;
}